<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Come play Authentication Hell" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/favicon.ico" sizes="32x32">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
  </head>

  <body class="h-screen w-screen overflow-hidden bg-ink text-paper">
    <%= yield %>
  </body>
</html>
